<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings />
  <connectionStrings />
  <system.web>
    <compilation></compilation>
    <!--
        Раздел <authentication> включает конфигурацию 
        режима проверки подлинности системы безопасности, используемую 
        в ASP.NET, которая позволяет идентифицировать входящего пользователя. 
    -->
    
    <authentication mode="Windows" />
    <httpRuntime executionTimeout="6000"/>
    <!--
        Раздел <customErrors> включает конфигурацию, 
        отвечающую за действия, предпринимаемые при возникновении необрабатываемых ошибок 
        во время выполнения запроса. В частности, 
        он позволяет разработчикам настраивать HTML-страницы ошибок, 
        которые будут отображаться вместо трассировки стека ошибок.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
         <error statusCode="403" redirect="NoAccess.htm" />
         <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
      -->
  </system.web>
  <system.webServer>
    <!--
        Для просмотра корневого каталога веб-приложения во время отладки установите значение true.
        Перед развертыванием установите значение false, чтобы избежать раскрытия сведений в папке веб-приложения.
      -->
    <directoryBrowse enabled="true" />
  </system.webServer>
  <system.serviceModel>
    <services>
      <service name="WcfService1.Service1" behaviorConfiguration="WcfService1.Service1Behavior">
        <!-- Service Endpoints -->
        <endpoint address="http://localhost/WCF_2/Service1.svc" binding="basicHttpBinding" contract="WcfService1.IService1">
          <!-- 
              После развертывания необходимо удалить следующий идентификационный элемент или заменить его, чтобы отражать 
              идентификатор, под которым работает служба.  Если он был удален, WCF выведет соответствующий идентификатор 
              автоматически.
          -->
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="WcfService1.Service1Behavior">
          <!--Чтобы избежать раскрытия метаданных, до развертывания задайте следующему параметру значение "false". -->
          <serviceMetadata httpGetEnabled="true" />
          <!--Чтобы при сбое получать подробные сведения об исключении для отладки, задайте следующему параметру значение "true". Чтобы информация об исключении не выдавалась, задайте до развертывания значение "false". -->
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>
<!--ProjectGuid: 4B38985F-B76C-4806-8D40-262E4B00C8B6-->